.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
  }
  
  .top {
    background-color: #f44336;
    height: 10%;
  }
  
  .middle {
    display: flex;
    flex-direction: row;
    height: 80%;
  }
  
  .left {
    background-color: #9c27b0;
    width: 30%;
  }
  
  .center {
    background-color: #2196f3;
    width: 30%;
  }
  
  .right {
    background-color: #4caf50;
    width: 30%;
  }
  
  .bottom {
    background-color: #ff9800;
    height: 10%;
  }
  